{% extends "index.html" %}

{% block main %}
<div id="row">
    <div id="col-md-12">
        <div id="chart">
            <embed type="image/svg+xml" src= {{ chart1|safe }} />
        </div>
    </div>
</div>
<div id="row">
    <div id="col-md-12">
        <div id="chart">
            <embed type="image/svg+xml" src= {{ chart2|safe }} />
        </div>
    </div>
</div>
<div id="row">
    <div id="col-md-12">
        <div id="chart">
            <embed type="image/svg+xml" src= {{ chart3|safe }} />
        </div>
    </div>
</div>
{% endblock %}